<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Upptäck den nya frågesports sensationen från skaparna av M.I.G.</h2>
                <p>0 - 100 finns tillgänglig på Android och iOS</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
