<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Upptäck det nya frågespelet från skaparna av MIG.</h2>
                <p>0-100 släpps till Android och iOS i mitten av november 2017.</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/details?id=games.humla.prod0100"><img src="/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" href="https://itunes.apple.com/us/app/0-100-powered-by-mig/id1291675372?ls=1&mt=8"><img src="/img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
